<?xml version="1.0"?>
<module name="4i" branch="master" description="4i root module, every modules are based on it">
  <node name="project" pre="project_pre.gsl" post="project_post.gsl">
    <attribute name="name" required="True"/>
    <attribute name="vendor"/>
    <attribute name="vendor_email"/>
    <attribute name="branch" required="True"/>
    <attribute name="version"/>
    <attribute name="license"/>
    <attribute name="description"/>
    <node name="readme" virtual="True" dst="README" post="readme_post.gsl"/>
    <node name="authors" virtual="True" copy="True" dst="AUTHORS">
      <node name="author" number="*" post="author_post.gsl" debug="True">
	<attribute name="name" required="True"/>
	<attribute name="email"/>
      </node> <!-- !author -->
    </node> <!-- !authors -->
    <node name="keyword" number="*">
      <attribute name="value" required="True"/>
    </node> <!-- !keyword -->
    <node name="reference" number="*">
      <attribute name="src" required="True"/>
      <attribute name="dst"/>
      <attribute name="ctx"/>
    </node> <!-- !reference -->
    <node name="file" number="*" debug="True" pre_check="file_pre_check.gsl" post="file_post.gsl">
      <attribute name="name" required="True"/>
      <attribute name="path" required="True"/>
      <node name="image" number="*" post="image_post.gsl" debug="True">
	<attribute name="name" required="True"/>
	<attribute name="resize"/>
      </node> <!-- !image -->
    </node> <!-- !file -->
    <node name="output" number="*" pre_check="output_pre_check.gsl" debug="True">
      <attribute name="name" required="True"/>
      <attribute name="path" required="True"/>
    </node> <!-- !output -->
    <node name="gsl" number="*" pre_check="gsl_pre_check.gsl" post="gsl_post.gsl" debug="True">
      <attribute name="from" required="True"/>
      <attribute name="output"/>
      <attribute name="path" required="True"/>
      <attribute name="source_path"/>
      <attribute name="binary" type="boolean"/>
    </node> <!-- !gsl -->
    <node name="dir" number="*" pre_check="dir_pre_check.gsl" post="dir_post.gsl" debug="True">
      <attribute name="name" required="True"/>
      <attribute name="path" required="True"/>
      <node ref=":file"/>
      <node ref=":output"/>
      <node ref=":gsl"/>
      <node ref=":dir"/>
    </node> <!-- !dir -->
    <node name="module" number="*">
      <node ref=":file"/>
      <node ref=":output"/>
      <node ref=":gsl"/>
      <node ref=":dir"/>
    </node>
  </node> <!-- !project -->
</module>
